<h2>hi from views/auth/login.js</h2>

{{ message }}

<form id="form_signup" class="" action="/auth/login" method="post">
  <label for="email">Email</label>
  <input type="text" id="email"name="email" value="">
  <label for="password">Password</label>
  <input type="password" id="password"name="password" value="">
  <input type="submit" value="Submit">
</form>
