<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {{!-- if i include the "." before /css, the file doesn't load on the client. WHY? --}}
    {{!-- <link rel="stylesheet" href="./css/bulma.css"> --}}
    <link rel="stylesheet" href="/css/bulma.css">
    <title>Veridox</title>
  </head>
  <body>
    <h1>hi from views/layouts/main.hbs</h1>

    {{{ body }}}

  </body>
</html>
