<form class="" action="https://hashapi.tierion.com/v1/auth/token" method="post">
  <input type="text" name="username" placeholder="email address for tierion login">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Submit">
</form>
